*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    ;
}

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: url("./images/bg-pattern-bottom.svg") bottom -600px right -150px no-repeat, url("./images/bg-pattern-top.svg") top -500px left -200px no-repeat;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #fefefe;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card .card-header{
flex:0.3;
}

.card .card-header img{
    width: 100%;
}

.card .card-content{
    flex: 0.5;
}

.card .card-content img{
    border-radius: 50%;
    border: 7px solid #fefefe;
    transform: translateY(-50%);
}
.card .card-content p{
color: hsl(227, 10%, 46%);
font-size: 18px;
}

.card .card-content p:first-of-type{
    font-weight: bold;
    font-size: 24px; 
    color: hsl(229, 23%, 23%);
}

.card .card-content p:first-of-type span{
    font-weight: normal;
    color: hsl(227, 10%, 46%);
}

.card .card-footer{
    display: flex;
    flex: 0.2;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    color:hsl(229, 23%, 23%);
    border-top:2px solid #d8d9df;
}

.card .card-footer .footer-item .status{
    font-size: 20px;
    font-weight: 700;
}


.card .card-footer .footer-item .item-name{
  color:hsl(227, 10%, 46%);
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 10px;
}